.contenedor-carrito {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Cart-Container {
  flex: 1;
	border-radius: 20px;
}

.Cart-Header {
	font-size: 26px;
	margin: auto;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.Cart-Header__Heading {
	font-weight: 700;
	color: #2f3841;
}
.Cart-Header__Action {
	font-size: 16px;
	font-weight: 600;
	color: #e44c4c;
	cursor: pointer;
	border-bottom: 1px solid #e44c4c;
}

/* .Cart_Items {
	margin: auto;
	height: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
} */
.Cart_Items__image-box {
	width: 15%;
	text-align: center;
}
.Cart_Items__title {
	padding-top: 5px;
	font-size: 20px;
	font-weight: 400;
	color: #202020;
}
.Cart_Items__subtitle{
  font-size: 16px;
  font-weight: 400;
  color: gray;
 }
.Cart_Items__counter {
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.Cart_Items__btnCount {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 900;
	color: #202020;
	cursor: pointer;
}
.Cart_Items__count {
	font-size: 20px;
	font-weight: 900;
	color: #202020;
}
.Cart_Items__amount {
	padding-top: 20px;
	font-size: 22px;
	font-weight: 600;
	color: #202020;
}
.Cart_Items__remove {
	padding-top: 5px;
	font-size: 14px;
	font-weight: 600;
	color: #e44c4c;
	cursor: pointer;
}
.checkout__total {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.bold700 {
  font-weight: 700;
}
.checkout__Subtotal {
	font-size: 22px;
	color: #202020;
}
.checkout__items {
	font-size: 16px;
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}
.checkout__total-amount {
	font-size: 36px;
	color: #202020;
}
.checkout__button {
	margin-top: 5px;
	width: 100%;
	height: 40px;
	border: none;
	background: linear-gradient(to bottom right, #b8d7ff, #8eb7eb);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	color: #202020;
}

/**TIPO DE ENVIO**/
section {
  display: flex;
  flex-flow: row wrap;
}

section > div {
  flex: 1;
  padding: 0.5rem;
}

.tipoEnvio__input {
  display: none;
}
.tipoEnvio__input:not(:disabled) ~ label {
  cursor: pointer;
}
.tipoEnvio__input:disabled ~ label {
  color: #bcc2bf;
  border-color: #bcc2bf;
  box-shadow: none;
  cursor: not-allowed;
}

label {
  display: block;
  background: white;
  border: 2px solid #5d615f;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
  position: relative;
}

.tipoEnvio__input:checked + label {
  background: #c4c3c3;
  box-shadow: 0px 0px 20px rgba(159, 184, 170, 0.75);
}
.tipoEnvio__input:checked + label::after {
  color: #3d3f43;
  font-family: FontAwesome;
  border: 2px solid #1dc973;
  font-size: 24px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

.tipoEnvio__p {
  font-weight: 600;
}

@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}